<div class="text-center">
  <h1>Make more time for the work that matters most</h1>
  <p>Task Manager is the work management platform teams use to stay focused on the goals, projects, and daily tasks that grow business.</p>
  <button class="btn btn-outline-primary">Try for free!</button>
</div>
