@import '~normalize.css/normalize';
@import './libs/bootstrap/custom_bootstrap';

body {
  background: url("../assets/images/background.svg") no-repeat fixed center;
  background-size: cover;
}

.full-height {
  height: 100vh;
}

.big-icon {
  font-size: 100px;
  width: 150px;
  height: 150px;
}

.form {
  max-width: 450px;
  width: 100%;
  margin-bottom: 7rem;
  margin-top: 1rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  padding: 40px;
  border-radius: 5px;
  border-color: $dark;
  background-color: $light;
}