@import '~normalize.css/normalize';
@import './libs/bootstrap/custom_bootstrap';

body {
  background: url("../assets/images/background.svg") no-repeat fixed center;
  background-size: cover;
}

.full-height {
  height: 100vh;
}

.big-icon {
  font-size: 100px;
  width: 150px;
  height: 150px;
}