<ul class="navbar-nav">
  <li class="nav-item text-capitalize">
  </li>
  <li class="nav-item text-capitalize">
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle nav-item" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Settings
    </a>
    <div class="dropdown-menu p-2 bg-light border-light shadow-sm" aria-labelledby="navbarDropdown">
      <%= link_to(current_user.username, account_path, :class => "nav-link text-capitalize w-100 #{current_page?(account_path) ? 'nav-active' : ''}") %>
      <%= link_to("Settings", settings_path, :class => "nav-link mt-2 w-100 #{current_page?(settings_path) ? 'nav-active' : ''}") %>
    </div>
  </li>
  <li class="nav-item">
    <%= link_to('Logout', destroy_user_session_path, method: :delete, :class => "nav-link") %>
  </li>
</ul>